.header__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  padding: 0 80px;
}

@media screen and (max-width: 1279px) {
  .header__menu {
    padding: 0 60px;
  }
}

@media screen and (max-width: 1023px) {
  .header__menu {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    padding: 0 20px;
  }
}
